<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user_id %>
</p>

<p>
<div class="row">
<% @profile.listings_to_buy.each do |listing| %>
<div class= "col-md-4">
  <div class="card" style="width: 18rem;">
    <%=image_tag listing.picture, class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title">  <%= listing.item_name %></h5>
    <p class="card-text">  <%= listing.description %>.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
<% end %>
</div>
</p>

<div class="row">
<% @profile.listings_to_sell.each do |listing| %>
<div class= "col-md-4">
  <div class="card" style="width: 18rem;">
    <%=image_tag listing.picture, class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title">  <%= listing.item_name %></h5>
    <p class="card-text">  <%= listing.description %>.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
<% end %>
</div>







<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
