

<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<div class="row">
 <% @listings.each do |listing| %>
<div class= "col-md-3">
  <div class="card" style="width: 18rem;">
    <%=image_tag listing.picture, class: "card-img-top" %>

  <div class="card-body">
    <h5 class="card-title">  <%= listing.item_name %></h5>
        <%= number_to_currency(listing.price) %>
    <p class="card-text">  <%= listing.description %>.</p>
    <%= link_to 'Show', listing, class: "btn btn-primary" %>

  </div>
</div>
</div>
<% end %>
</div>



<%# <%= link_to 'New Listing', new_listing_path %>  
