<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<table>
  <thead>
    <tr>
      <th>Item name</th>
      <th></th>
      <th>Category</th>
            <th></th>
      <th>Description</th>
            <th></th>
      <th>Price</th>
            <th></th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.item_name %></td>
        <td></td>
        <td><%= listing.category.name %></td>
                <td></td>
        <td><%= listing.description %></td>
                <td></td>
        <td><%= number_to_currency(listing.price) %></td>
        <td></td>
        <td><%= link_to 'Show', listing %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path %>
