<p id="notice"><%= notice %></p>

<p>
  <strong>Item name:</strong>
  <%= @listing.item_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @listing.seller_id %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @listing.buyer_id %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @listing.profile_id %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
