<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <h1>Welcome to RocketLeet</h1>
        </div>
        <div class="col-md-4">
            <%= image_tag "rl_icon.jpeg", class:"main-img"%>
        </div>
        <div>
            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">

                    <%= link_to "Body", listings_path(category:1), class: "btn btn-secondary" %>
                    <%= link_to "Wheels", listings_path(category:2), class: "btn btn-secondary" %>
                     <%= link_to "Toppers", listings_path(category:3), class: "btn btn-secondary" %>
                    <%= link_to "Goal Explosions", listings_path(category:4), class: "btn btn-secondary" %>
                    <%= link_to "Boost", listings_path(category:5), class: "btn btn-secondary" %>

                </div>

            </div>
        </div>
    </div>    
</div>