
<p id="notice"><%= notice %></p>

<%= image_tag @listing.picture if @listing.picture.attached? %>

<p>
  <strong>Item name:</strong>
  <%= @listing.item_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@listing.price) %>
</p>

<%# Added Verification for editting listings %>
<%= link_to 'Edit', edit_listing_path(@listing) if current_user.profile.id==@listing.profile_id %> |
<%= link_to 'Back', listings_path %>
<div>
</div>
<div>
</div>
<div class="btn-group mr-2" role="group" aria-label="First group">
<%= link_to "Buy", buyer_page_path(listing: @listing.id), class: "btn btn-secondary" %>
</div>